
.CardItem {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    margin-bottom: 8px;
}
 
.ItemHeader { 
    font-size: 1.5rem;
    margin: 0;
}

.ItemImg {
    width: 100%;
    border-radius: 4px;
}

.Info {
    margin: 8px 0;
}

.ItemFooter {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}

.option {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.divcard {
    display: flex;
    justify-content: center;
}
.boton {
    background-color: #e878a2;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 767px) {
    .CardItem {
        width: 80%;
    }
}

@media (max-width: 488px) {
    .ItemFooter{
        flex-direction: column;
    }
}