.control {
    display: flex;
    gap: 1.25rem;
    margin: 10px;
}
.contador {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boton {
    background-color: #e878a2;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
} 
.numeros {
    color: black;
}
 
 